html,
body {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btn {
  color: rgb(248, 248, 248);
  background-color: rgb(216, 66, 66);
  font-size: 25px;
  padding: 15px;
  border-radius: 10px;
  border: none;
}

.popover {
  position: absolute;
  border-radius: 10px;
  border: 1px solid;
  z-index: -1;
}
.popover-header{
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid;
  background-color:rgb(243, 243, 236);
}

.popover-text{
  border-radius: 10px;
  position: relative;
  font-size: 13px;
  padding: 10px;
  z-index: 99;
  background-color: rgb(250, 244, 244);

}
